@import 'variables';
@import '../../node_modules/rfs/scss.scss';

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
	url('../../assets/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../assets/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

///* raleway-regular - latin */
//@font-face {
//	font-family: 'Raleway';
//	font-style: normal;
//	font-weight: 400;
//	src: url('../../assets/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
//	src: local('Raleway'), local('Raleway-Regular'),
//	url('../../assets/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//	url('../../assets/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//	url('../../assets/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
//	url('../../assets/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//	url('../../assets/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
//}


/* raleway-regular - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
	src: local('Raleway'), local('Raleway-Regular'),
	url('../../assets/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../assets/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('../../assets/raleway-v14-latin-700.eot'); /* IE9 Compat Modes */
	src: local('Raleway Bold'), local('Raleway-Bold'),
	url('../../assets/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../assets/raleway-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../assets/raleway-v14-latin-700.woff') format('woff'), /* Modern Browsers */
	url('../../assets/raleway-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../assets/raleway-v14-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}


body {
	//background-image: url(https://images.unsplash.com/photo-1518773553398-650c184e0bb3?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);
	//background-attachment: fixed;

	background-image: url(https://usersthink.com/img/99-free-images-large/36-usersthink-stock-image.jpg);
	//background-image: url(https://cdn.pixabay.com/photo/2018/04/06/15/17/pattern-3296033_960_720.png);


	background-size: 100vw;
	background-repeat: repeat;

	overflow-x: hidden;

	&:before {
		// The overlay
		content: '';
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-color: rgba(20, 20, 20, 0.9);
		z-index: -1;
	}

	p {
		@include font-size(1.3rem);
	}
}


main a {
	color: #eee;

	svg {
		fill: #5b9eff;
		transition: all 0.3s ease-out;
	}

	@media only screen and (min-width: 1024px) {
		&:hover svg {
			color: #ffc033;
		}
	}
}

section {
	color: white;
	text-align: center;

	.section-header {
		margin-bottom: 2rem;
	}

	.section-wrapper {
		display: flex;
		height: calc(100vh-#{$navbar-size});
	}

	&#section-2, &#section-3 {
		padding-bottom: 35vh;
	}
}

a:hover {
	text-decoration: none !important;
}


h1 {
	margin-bottom: 2rem;
}

h2 {
	font-weight: 600;
}

svg {
	height: 2rem;
	fill: white;
	margin-right: 0.7rem;
	position: relative;
	top: 0.3rem;
}


#debug {
	color: white;
	background-color: black;
	@include font-size(3rem);
}

