$navbar-size: 4.25rem;

$base-transition: color 0.5s ease-in;

$highlight-color: #edb615;
$hover-color: #ffc033;
$foreground-color: #eee;
$link-color: #5b9eff;
$border-color: rgba(#edb615, .7);
$background-color: #333;

$icon-color: #ffa720;
