@import "variables";
@import "global";

@import "reboot";
@import '../../node_modules/rfs/scss.scss';


.highlight, .card-content-indicator, a.back-to-top, h1, h2 {
	// option 1
	font-family: 'Raleway', sans-serif !important;
	//font-family: 'Open Sans', serif;
}

html {
	scroll-behavior: smooth;
	// option 1
	font-family: 'Montserrat', sans-serif;
	//font-family: 'Open Sans', serif;

}

@media screen and (max-width: 359px) {
	html {
		font-size: 14px;
	}
}

@media screen and (max-width: 359px) and (max-height: 620px) {
	html {
		font-size: 12px;
	}
}

.navbar-spacer {
	height: $navbar-size;

	&:before {
		position: fixed;
		content: '';
		z-index: 9998;
		left: 0;
		top: 0;
		width: 100vw;
		height: $navbar-size;
		line-height: $navbar-size;

	}
}


nav {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: $navbar-size;
	line-height: $navbar-size;
	background: none;

	ul {
		display: flex;
		flex-flow: row nowrap;
		list-style: none;
		justify-content: center;
		margin: 0;
		padding-left: 0;

		li button {
			color: #eee;
			margin: 0 1rem;
			@include font-size(1.5rem);
			transition: color 0.4s ease-in;
			background: none;
			border: none;
			cursor: pointer;
			outline: none;

			&:hover, &.current {
				color: #ffc033;
				text-decoration: none;
			}
		}
	}
}

// For the first page
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

#section-1 h1 {
	animation: .8s ease-out 0s 1 slideInFromLeft;
}

#section-1 h2 {
	animation: .8s ease-out 0s 1 slideInFromRight;
}


#section-1 {
	//margin-top: 2rem; TODO media query for landscape

	.quote {
		padding: 0.8rem 1rem;
		margin-top: 1rem;
		border-left: 3px solid desaturate($border-color, 10);
		margin-left: auto;
		margin-right: auto;
		width: 80vw;

		blockquote {
			font-size: 1.4rem;
			margin: auto;

			&:before, &:after {
				content: none !important;
			}
		}
	}

	.section-wrapper {
		flex-flow: column;
		justify-content: center;

		@media screen and (max-width: 675px) and (max-height: 758px) {
			margin-top: 20vh;
		}
		padding-bottom: 10vh;
	}

	.presentation {
		margin: 0 auto;
		text-align: center;
		width: 80vw;
	}

	h1 {
		@include font-size(3rem);
	}

	h2 {
		@include font-size(2rem);
	}

	.highlight {
		@include font-size(4rem);
		color: #edb615;
		margin-bottom: 18vh;
		margin-left: 1rem;
		margin-right: 1rem;
		display: inline-block;
		font-weight: 700;
	}
}


// For the cards
#section-3 {
	display: flex;
	align-items: center;
	flex-flow: column;
	height: max-content;
}

.projects-container {
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: auto 0;
}

.card {
	margin: .5rem .5rem 2rem .5rem;


	.card-title {
		background-color: #ccc;
		color: #222;
		@include font-size(1.5rem);
		margin-bottom: 0.4rem;
		padding: 0.4rem;

		h3 {
			margin-bottom: 0;
		}
	}

	.card-content {
		margin-bottom: 0.4rem;

		.card-image-link {
			position: relative;

			img {
				transition: all 0.8s ease-in-out;

				// On touchscreen devices image is always blurred
				@media only screen and (max-width: 1024px) {
					filter: brightness(40%) blur(1px) grayscale(0.8);
				}

			}

			.card-content-indicator {
				position: absolute;
				top: 0;
				left: 0;
				text-align: center;
				width: 100%;
				color: white;
				@include font-size(2rem);
				font-weight: 700;
				opacity: 0;
				transition: all 0.5s ease-in;
				// On touchscreen devices indicator is always visible
				@media only screen and (max-width: 1024px) {
					opacity: 1;
					@include font-size(2.5rem);
					color: $link-color;
				}

			}

			// Only blur on hover for pointer devices
			@media only screen and (min-width: 1024px) {
				&:hover {
					img {
						filter: brightness(40%) blur(3px) grayscale(0.7);
					}

					.card-content-indicator {
						opacity: 1;
					}
				}
			}

			img {
				width: 100%;
			}
		}
	}

	.card-action-visit {
		background-color: #444;
		margin-bottom: 0.4rem;
		padding: 0.3rem;

		a {
			@include font-size(1.5rem);
			transition: all 0.5s ease-out;
			display: block;

			svg {
				height: 1.3rem;
				top: 0.1rem;
				margin-right: 0.2rem;
			}

			@media only screen and (min-width: 1024px) {
				&:hover {
					color: #ffc033;

					svg {
						fill: #ffc033;
					}
				}
			}
		}
	}

	.card-details {
		@include font-size(1.2rem);
		padding: 0.4rem;

		ul {
			list-style: none;
			color: $foreground-color;

			li {
				text-align: left;
			}
		;
		}
	}

}

// For the about me field
#section-2 {
	a {
		color: #5f74ff;
		transition: color 0.5s ease-in;

		@media only screen and (min-width: 1024px) {
			&:hover {
				color: #ffc033;
			}
		}
	}

	// ----------------  LAYOUT

	.timeline-container {
		max-width: 1024px;
		width: 90%;
		margin: 0 auto;
	}

	// --------------- FONTS

	.timeline-item {
		padding: 3em 2em 2em;
		position: relative;
		color: white;
		border-left: 2px solid $border-color;
		border-image: linear-gradient(to top, rgba($border-color, .2), rgba($border-color, 1), rgba($border-color, .2)) 1 100%;

		p {
			@include font-size(1.3rem);
		}

		.timeline-item-date {
			position: absolute;
			left: 1.2rem;
			top: 0.8rem;
			display: block;
			font-weight: 600;
			font-size: .785rem;
		}


		.timeline-item-marker {
			width: 1rem;
			height: 1rem;
			display: block;
			top: .8rem;
			position: absolute;
			left: -.6rem;
			border-radius: 10px;
			content: '';
			border: 2px solid $border-color;
			background: white;
		}
	}

}


// For the contact field
#section-4 {
	padding-bottom: 13vh;

	h2 {
		@include font-size(2rem);
		margin: 2rem auto;
		color: #faa737;
	}
}

.contact-box {
	margin: 0 auto 1rem auto;
	@include font-size(1.7rem);
	transition: all 0.4s ease;


	a {
		margin-left: 1rem;
		margin-right: 1rem;
		transition: all 0.4s ease;
	}

	@media only screen and (min-width: 1024px) {
		&:hover a {
			color: #edb615;
		}
	}

	@media only screen and (min-width: 1024px) {
		&:hover svg {
			transform: scale(1.5);
			fill: #edb615;
		}
	}

	svg {
		transition: all 0.4s ease;
	}
}

div.contact-box {
	// margin-top: 10vh; //what is the purpose of this field?
	width: max-content;
}

.back-to-top-container {
	margin-bottom: 30vh;
	display: flex;
}

a.back-to-top {
	border: solid 3px white;
	color: white;
	@include font-size(1.5rem);
	margin: auto;
	padding: 0.3rem;
	transition: 0.5s ease-out;

	@media only screen and (min-width: 1024px) {
		&:hover {
			transform: scale(1.2);
			color: #edb615;
			border-color: #edb615;
		}
	}
}


@media only screen and (max-width: 450px) {
	#section-4 {
		.contact-box.long-text a {
			font-size: 1rem;
		}
	}
}


footer {
	padding: .5rem;
	text-align: center;
	color: white;
}

// Internet Explorer degradation
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

	.contact-box {
		display: block;
		text-align: center;

		a {
			margin: auto;
			display: block;

			svg {
				position: static;
				margin: 1rem 0;

			}
		}
	}
}

// Microsoft Edge degradation
_:-ms-lang(x), _:-webkit-full-screen, .projects-container {

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		.card {
			display: inline;
			margin: 1rem auto;
		}
	}

	.card {
		display: block;
		margin: 5rem auto;
	}
}
